:root {
    --font-family1: Adobe Clean, serif;
    --color-branco: #f5f5f5;
    --color-vermelho: #8a1c15;
    --display-flex: flex;
    --align-center: center;
    --justify-center: center;
}

@font-face {
    font-family: Adobe Clean;
    src: url('../font/AdobeClean-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 1.6rem;
    // font-size: 2.6rem;
}

p {
    font-size: 1.3rem;
    line-height: .8em;
    /* font-weight: bold; */
}

body {
    height: 100vh;
    width: 100vw;   
    font-family: var(--font-family1);

    .intro-container {
        width: 100vw; 
        // height: 250px;
        color: var(--color-branco);
        display: var(--display-flex);
        justify-content: var(--justify-center);
        align-items: var(--align-center);
        
        h1.boas-vindas {
            font-size: 1.75rem;
            position: absolute;
            text-align: center;
        }

        .home-banner-video {
            width: 100%;
            border: none;
            /* height: 80%; */
        }
    }

    .exibicao-canecas {
        background-color: var(--color-branco);
        padding: 20px 0 10px 0;
        
        p {
            text-align: right;
            font-size: .7rem;
            letter-spacing: .2px;
            // padding-top: 20px;
            padding-right: 75px;
        }

        .canecas-container {
            /* height: 52%; */
            display: var(--display-flex);
            flex-direction: column;
            justify-content: space-between;
            align-items: var(--align-center);
            padding: 20px 0px;
            .caneca-natal {
                // border: 2px solid blue;
                width: 240px;
            }
        }
    }

    .sobre-nos {
        /* height: 50%; */
        background-color: var(--color-vermelho);
        color: var(--color-branco);
        padding: 40px 50px;
        border: 1px solid red;

        h1 {
            margin-bottom: 10px;
        }

        p {
            font-family: sans-serif;
            font-size: 0.8rem;
            line-height: 1.3rem;
            // letter-spacing: 2px;
            padding: 0 15px;
        }
    }
    .footer {
        background-color: var(--color-branco);
        display: var(--display-flex);
        align-items: var(--align-center);
        // padding: 20px 210px;
        
        .contact {
            display: var(--display-flex);
            align-items: var(--align-center);
            // border: 1px solid red;
            .icon {
                width: 6%;
                margin-right: 10px;
            }
        }
    }
}