:root {
  --font-family1: Adobe Clean, serif;
  --color-branco: #f5f5f5;
  --color-vermelho: #8a1c15;
  --display-flex: flex;
  --align-center: center;
  --justify-center: center;
}

@font-face {
  font-family: Adobe Clean;
  src: url("../font/AdobeClean-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: var(--font-family1);
}
body .intro-container {
  width: 100vw;
  color: var(--color-branco);
  display: var(--display-flex);
  justify-content: var(--justify-center);
  align-items: var(--align-center);
}
body .intro-container h1.boas-vindas {
  font-size: 1.75rem;
  position: absolute;
  text-align: center;
}
@media (min-width: 834px) {
  body .intro-container h1.boas-vindas {
    font-size: 4.2rem;
  }
}
@media (min-width: 1040px) {
  body .intro-container h1.boas-vindas {
    font-size: 5.2rem;
  }
}
body .intro-container .home-banner-video {
  width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  /* height: 80%; */
}
body .exibicao-canecas {
  background-color: var(--color-branco);
  padding: 40px 0;
}
@media (min-width: 834px) {
  body .exibicao-canecas {
    padding: 60px 0;
  }
}
body .exibicao-canecas p {
  text-align: center;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  padding-right: 12px;
}
@media (min-width: 834px) {
  body .exibicao-canecas p {
    font-size: 1.1rem;
    text-align: right;
  }
}
@media (min-width: 1040px) {
  body .exibicao-canecas p {
    padding-right: 50px;
  }
}
body .exibicao-canecas .slider {
  margin: 0 auto;
  width: 250px;
  height: 300px;
  overflow: hidden;
}
@media (min-width: 834px) {
  body .exibicao-canecas .slider {
    width: 100%;
    height: 260px;
    overflow: visible;
    display: var(--display-flex);
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 1040px) {
  body .exibicao-canecas .slider {
    height: 400px;
  }
}
body .exibicao-canecas .slider .slides {
  width: 400%;
  height: 400px;
  display: var(--display-flex);
}
@media (min-width: 834px) {
  body .exibicao-canecas .slider .slides {
    width: 100%;
    justify-content: center;
    gap: 50px;
  }
}
@media (min-width: 1040px) {
  body .exibicao-canecas .slider .slides {
    gap: 40px;
  }
}
body .exibicao-canecas .slider .slides input {
  display: none;
}
body .exibicao-canecas .slider .slides #radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #20a6ff;
}
body .exibicao-canecas .slider .slides #radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #20a6ff;
}
body .exibicao-canecas .slider .slides #radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #20a6ff;
}
body .exibicao-canecas .slider .slides #radio1:checked ~ .first {
  margin-left: 0;
}
body .exibicao-canecas .slider .slides #radio2:checked ~ .first {
  margin-left: -25%;
}
@media (min-width: 834px) {
  body .exibicao-canecas .slider .slides #radio2:checked ~ .first {
    margin-left: 0;
  }
}
body .exibicao-canecas .slider .slides #radio3:checked ~ .first {
  margin-left: -50%;
}
@media (min-width: 834px) {
  body .exibicao-canecas .slider .slides #radio3:checked ~ .first {
    margin-left: 0;
  }
}
body .exibicao-canecas .slider .slide {
  width: 25%;
  position: relative;
}
body .exibicao-canecas .slider .slide img {
  width: 250px;
  height: 250px;
}
@media (min-width: 1040px) {
  body .exibicao-canecas .slider .slide img {
    width: 400px;
    height: 400px;
  }
}
body .exibicao-canecas .slider .navigation-auto {
  position: absolute;
  width: 250px;
  height: 20px;
  margin-top: 260px;
  display: flex;
  justify-content: center;
}
@media (min-width: 834px) {
  body .exibicao-canecas .slider .navigation-auto {
    display: none;
  }
}
body .exibicao-canecas .slider .navigation-auto div {
  border: 2px solid #20a6ff;
  padding: 6px;
  width: 3px;
  height: 3px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
body .exibicao-canecas .slider .navigation-auto div:not(:last-child) {
  margin-right: 10px;
}
body .exibicao-canecas .manual-navigation {
  position: absolute;
  width: 250px;
  height: 20px;
  margin-top: -140px;
  display: var(--display-flex);
  justify-content: center;
}
@media (min-width: 834px) {
  body .exibicao-canecas .manual-navigation {
    display: none;
  }
}
body .exibicao-canecas .manual-navigation .manual-btn {
  border: 2px solid #000;
  padding: 6px;
  width: 3px;
  height: 3px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
body .exibicao-canecas .manual-navigation .manual-btn:not(:last-child) {
  margin-right: 10px;
}
body .exibicao-canecas .manual-navigation .manual-btn:hover {
  background-color: #20a6ff;
}
body .sobre-nos {
  /* height: 50%; */
  background-color: var(--color-vermelho);
  color: var(--color-branco);
  padding: 40px 50px;
}
@media (min-width: 1040px) {
  body .sobre-nos {
    padding: 140px 0;
  }
}
body .sobre-nos h1 {
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 32px;
}
@media (min-width: 1040px) {
  body .sobre-nos h1 {
    font-size: 3.8rem;
    margin-bottom: 1.8rem;
  }
}
body .sobre-nos p {
  font-family: sans-serif;
  font-size: 1.1rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  padding: 10px 20px;
}
@media (min-width: 834px) {
  body .sobre-nos p {
    font-size: 1.4rem;
    text-align: center;
    line-height: 0.6rem;
  }
}
@media (min-width: 1040px) {
  body .sobre-nos p {
    font-size: 2rem;
    line-height: 1.6rem;
  }
}
body .sobre-nos .icon {
  width: 14%;
  height: 2%;
}
body .sobre-nos .icon-location {
  width: 9%;
}
body .sobre-nos .sobre-nos-itens {
  display: flex;
}
body .sobre-nos .sobre-nos-itens p {
  padding: 10px 10px;
}
body .sobre-nos .sobre-nos-location p {
  padding-left: 22px;
}
body .footer {
  background-color: var(--color-branco);
  display: var(--display-flex);
  align-items: var(--align-center);
  padding: 30px;
}
@media (min-width: 1040px) {
  body .footer {
    padding: 30px 120px;
  }
}
body .footer p {
  font-size: 0.9rem;
}
body .footer .contact {
  display: var(--display-flex);
  align-items: var(--align-center);
}
body .footer .contact p {
  font-size: 1rem;
  line-height: 1.1rem;
}
@media (min-width: 834px) {
  body .footer .contact p {
    font-size: 2rem;
    line-height: 38px;
  }
}
@media (min-width: 1040px) {
  body .footer .contact p {
    font-size: 1.6rem;
    line-height: 28px;
  }
}
body .footer .contact a.link {
  text-decoration: none;
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
}
@media (min-width: 834px) {
  body .footer .contact a.link {
    font-size: 2rem;
    margin-bottom: 8px;
  }
}
@media (min-width: 1040px) {
  body .footer .contact a.link {
    font-size: 1.6rem;
    margin-bottom: 3px;
  }
}
body .footer .contact .icon {
  width: 10%;
  margin-right: 10px;
}
@media (min-width: 834px) {
  body .footer .contact .icon {
    width: 4%;
  }
}
@media (min-width: 1040px) {
  body .footer .contact .icon {
    width: 2.5%;
  }
}/*# sourceMappingURL=style.css.map */